body {
  margin: 0;
  background: linear-gradient(
    90deg,
    #0b1020 0%,
    #050814 50%,
    #0b1020 100%
  );
  color: white;
  font-family: "Segoe UI", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
